<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>New</h1>
    <form th:method="POST" th:action="@{/builds/new}" th:object="${building}">
        <label for="address">Enter Address:</label>
        <input type="text" id="address" th:field="*{address}" placeholder="Address"><br>

        <label for="title">Enter Title:</label>
        <input type="text" id="title" th:field="*{title}" placeholder="Build name"><br>

        <button type="submit">Add Build</button>
    </form>

    <a href="/builds">All builds</a>

</body>
</html>